{
  "openapi": "3.0.3",
  "info": {
    "title": "AxiomID Developer API Reference",
    "description": "Cryptographic proof of humanity, decentralized identity resolver (did:axiom), verifiable credential signing, and autonomous agent coordination endpoints for Pi Network.",
    "version": "1.0.0",
    "contact": {
      "name": "AxiomID Support",
      "url": "https://axiomid.app"
    }
  },
  "servers": [
    {
      "url": "https://axiomid.app",
      "description": "Production Endpoint"
    }
  ],
  "paths": {
    "/api/passport/{slug}": {
      "get": {
        "summary": "Retrieve public passport profile",
        "description": "Returns the verification badges, trust score, XP, user tier, and associated agent for a given username slug.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "description": "The pioneer's username registration slug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Passport fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassportResponse"
                }
              }
            }
          },
          "404": {
            "description": "Passport not found"
          }
        }
      }
    },
    "/api/did-document": {
      "get": {
        "summary": "Resolve DID identifier",
        "description": "Resolves a did:axiom identifier to its corresponding W3C DID document.",
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "description": "The target did:axiom identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "W3C DID document returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DidDocument"
                }
              }
            }
          }
        }
      }
    },
    "/api/status": {
      "get": {
        "summary": "Real-time protocol metrics",
        "description": "Returns stats on active users, total registered agents, total XP, and verification rates.",
        "responses": {
          "200": {
            "description": "Current status statistics"
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "summary": "System health verification",
        "description": "Performs checks on critical systems: PostgreSQL, Stellar, Pi API gateway, and Workers AI.",
        "responses": {
          "200": {
            "description": "System health status"
          }
        }
      }
    },
    "/api/explorer": {
      "get": {
        "summary": "Live Explorer stats",
        "description": "Fetches a paginated distribution of registered users, agents, and trust tiers.",
        "responses": {
          "200": {
            "description": "Explorer data"
          }
        }
      }
    },
    "/api/leaderboard": {
      "get": {
        "summary": "Retrieve XP leaderboard",
        "description": "Returns the top 50 users ranked by total XP earnings with their verified trust scores.",
        "responses": {
          "200": {
            "description": "Leaderboard statistics"
          }
        }
      }
    },
    "/api/credential-status": {
      "get": {
        "summary": "Check credential status",
        "description": "Verifies the revocation status of a verifiable credential.",
        "parameters": [
          {
            "name": "did",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credential status evaluation"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Secure Pi Network access token verification header."
      }
    },
    "schemas": {
      "PassportResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "did": {
                "type": "string"
              },
              "walletAddress": {
                "type": "string"
              },
              "tier": {
                "type": "string"
              },
              "trustScore": {
                "type": "number"
              },
              "xp": {
                "type": "number"
              },
              "stamps": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "DidDocument": {
        "type": "object",
        "properties": {
          "@context": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "id": {
            "type": "string"
          },
          "verificationMethod": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "authentication": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}
